Repository eslint-community/eslint-plugin-n, pull requests merged in 2024-12, with the labels that each got.

#393 feat(no-unsupported): support node 22.12.0
  lib/unsupported-features/node-builtins-modules/sqlite.js
  lib/unsupported-features/node-builtins-modules/util.js
Labels: enhancement, rule:update

#384 feat(resolve): allow overriding enhanced-resolve's options
  docs/rules/no-extraneous-import.md
  docs/rules/no-extraneous-require.md
  docs/rules/no-missing-import.md
  docs/rules/no-missing-require.md
  docs/rules/no-unpublished-import.md
  docs/rules/no-unpublished-require.md
  docs/shared-settings.md
  lib/rules/no-extraneous-import.js
  lib/rules/no-extraneous-require.js
  lib/rules/no-missing-import.js
  lib/rules/no-missing-require.js
  lib/rules/no-unpublished-import.js
  lib/rules/no-unpublished-require.js
  lib/util/get-resolver-config.js
  lib/util/import-target.js
  lib/util/visit-import.js
  lib/util/visit-require.js
  tests/fixtures/no-missing/my_modules/my-module/a-file.js
  tests/fixtures/no-missing/my_modules/my-module/package.json
  tests/lib/rules/no-missing-require.js
Labels: enhancement, typescript, accepted, rule:update

#396 fix(no-unsupported): Correctly handle recursive objects on a per module basis
  lib/util/enumerate-property-names.js
  tests/lib/rules/no-unsupported-features/node-builtins.js
Labels: bug, rule:update
